body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.hidden {
    display: none;
}